.text-box {
    position: absolute;
    top: 220px; /* ปรับตามตำแหน่งในกรอบ */
    left: 100px; /* ปรับตามตำแหน่งในกรอบ */
    width: 350px; /* ความกว้างของกรอบ */
    height: 150px; /* ความสูงของกรอบ */
    border: 2px solid rgb(255, 255, 255); /* เส้นกรอบสีแดง */
    background-color: rgba(173, 254, 255, 0.8); /* สีพื้นหลังโปร่งแสง */
    border-radius: 10px; /* มุมโค้งมน */
    padding: 10px; /* ระยะห่างข้อความจากกรอบ */
    font-size: 18px; /* ขนาดฟอนต์ */
    color: #333; /* สีข้อความ */
}
